---
import Base from "@/layouts/Base.astro";
import PageHeader from "@/layouts/components/widgets/PageHeader.astro";
---

<Base title="La Cátedra">
  <PageHeader title="La Cátedra" />
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="content">
            <h2>Sobre la Cátedra</h2>
            <p>La Cátedra EMACSA de la Universidad de Córdoba impulsa la investigación y la innovación para una gestión sostenible del agua, marcando un impacto positivo en nuestra sociedad.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>
