---
import Base from "@/layouts/Base.astro";
import PageHeader from "@/layouts/components/widgets/PageHeader.astro";
---

<Base title="Empresas">
  <PageHeader title="Empresas" />
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="content">
            <h2>Entidades Colaboradoras</h2>
            <p>La colaboración con empresas e instituciones es fundamental para lograr un ciclo del agua más sostenible y eficiente. Conoce a nuestros aliados estratégicos.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>
