---
import Base from "@/layouts/Base.astro";
import PageHeader from "@/layouts/components/widgets/PageHeader.astro";
---

<Base title="Memorias Actividades">
  <PageHeader title="Memorias Actividades" />
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="content">
            <h2>Memorias Anuales</h2>
            <p>En esta sección puedes consultar las memorias de las actividades desarrolladas por la Cátedra EMACSA.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>
