---
import Base from "@/layouts/Base.astro";
import PageHeader from "@/layouts/components/widgets/PageHeader.astro";
---

<Base title="Oferta I+D+I">
  <PageHeader title="Oferta I+D+I" />
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="content">
            <h2>Creación de sinergias UCO-EMACSA</h2>
            <p>Dando visibilidad a los logros, desarrollos y necesidades de I+D+I de EMACSA y las actividades de los grupos de investigación de la UCO en el campo del ciclo integral del agua.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</Base>
