---
const groups = [
  { title: "Monitorización y Detección" },
  { title: "Tratamiento y degradación" },
  { title: "Reutilización y valorización" },
  { title: "Sistemas y previsión" },
];
---

<section class="overflow-hidden">
  <div class="container px-0">
    <div class="relative">
      <img
        src="/images/idi_emacsa.png"
        alt="I+D+i"
        class="mb-8 w-full max-w-2xl"
        loading="lazy"
      />

      <h2
        class="text-h2-sm md:text-h2 font-semibold"
        data-aos="fade-up-sm"
        data-aos-duration="600">
        Grupos de investigación
      </h2>

      <div
        class="divide-border-dark/15 border-border-dark/15 mt-15 mb-13 divide-y border-y md:mt-20 xl:mt-27.5">
        {groups.map((group, index) => (
          <div
            class="group border-border-dark/15 relative border-b py-6 transition-colors lg:py-9"
            data-aos="fade-up"
            data-aos-delay={index * 80}
            data-aos-duration="600">
            <div class="flex flex-col gap-4 md:flex-row md:items-start lg:gap-10 xl:gap-14">
              <div class="text-text-default/70 w-auto shrink-0 pt-2 font-medium lg:pt-4 lg:text-lg">
                {String(index + 1).padStart(2, "0")}
              </div>
              <div class="relative z-10 flex flex-1 flex-col justify-center">
                <h3 class="text-h3-sm md:text-h3 font-bold transition-colors">
                  {group.title}
                </h3>
              </div>
            </div>
          </div>
        ))}
      </div>
    </div>
  </div>
</section>
